<h2>Por Capital</h2>
<hr>

    <div class="row">
      <div class="col">
      <!-- en la sintaxis [DinamicPlaceHolder]="'Busqueda por Capital'", estamos haciendo uso de la propiedad dinamica 'placeholder' dentro de
      <searchbox></searchbox> y le estamos asignando el valor en este caso del string="'Busqueda por Capital'".  -->

    <searchbox (Input_value)="searchByCapital($event.valueOf())"

    [DinamicPlaceHolder]="'Busqueda por Capital'"


     ></searchbox>
      <hr>
    </div>

    <div class="row">
        <div class="col">
          <hr>
          <countryTable [countries]="lis_countries" ></countryTable>

        </div>

    </div>
</div>
